<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avocado Life</title>
    <link rel="stylesheet" href="../public/style/styles.css"> 
</head>
<body>
    <div class="wrap">
        
        <header>
            <div class="logo">
                <img src="../public/images/logo.png" alt="" class="header-logo">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </header>
            <div class="content-main">
                <h1>Personal Blog</h1>
                
              
            </div>

            <!--Blog Part-->
            <section>
                
            </section>
    </div>
</body>
</html>