.wrap
  header
    .logo
      img.header-logo(src='https://www.svgrepo.com/show/48219/avocado.svg' alt='')
    .menu
      ul
        li
          a(href='#') Todo
  .content-main
    h1 Your notes are always here!
    p
      | Write down the most important things here, edit and delete!
    //
      <div class="btn-header">
      <a href="#" class="btn-1">Start</a>
      </div>
  // Wave Part
  svg.wave(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1440 320')
    path(fill='#fff' fill-opacity='1' d='M0,128L48,128C96,128,192,128,288,149.3C384,171,480,213,576,213.3C672,213,768,171,864,181.3C960,192,1056,256,1152,250.7C1248,245,1344,171,1392,133.3L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z')





